@model ProjetoASPNetCore.Models.Seller
@{

     ViewData["Title"] = "Adicionar";
}

<br />

<h2>@ViewData["Title"]</h2>

<h4>Vendedor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
  <form asp-action="Create">
      <br />
        <div class="form-group">
            <label asp-for="Name" class="control-label">Nome</label>
            <input asp-for="Name" class="form-control"/>
        </div>
        <br />
         <div class="form-group">
            <label asp-for="Email" class="control-label">E-mail</label>
            <input asp-for="Email" class="form-control"/>
        </div>
        <br />
        <div class="form-group">
            <label asp-for="birthDate" class="control-label">Data de nascimento</label>
            <input asp-for="birthDate" class="form-control"/>
        </div>
        <br />
        <div class="form-group">
            <label asp-for="baseSalary" class="control-label">Salário</label>
            <input asp-for="baseSalary" class="form-control"/>
        </div>
        <br />
         <div class="form-group">
            <input type="submit" value="Adicionar" class="btn btn-primary"/>
        </div>

</form>
</div>
</div>