@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br>
    <h1 class="display-4">Olá, me chamo samuel</h1>
    <p>Esse foi um projeto de site desenvolvido no curso de C# e programação orientada a objetos</p>
    <h3>Sobre o site</h3>
        <span class="badge bg-primary p-3">ASP.NET</span>
        <span class="badge bg-primary p-3">Entity Framework</span>
        <span class="badge bg-primary p-3">SQL Server</span>
        <span class="badge bg-primary p-3">MVC</span>
</div>
